<div id="content">
	<div id="info">
    	<h1 class="sign">
    		Ab<span class="fast-flicker">out</span><br>
        	&nbsp;&nbsp;<span class="flicker">M</span>e
    	</h1>
    	<div id="data">
            <p>I'm a Telecommunication Engineer and I am currently working at GMV as Mission Data Systems Developer. I have a little over 2 years of experience in software development, both backend and frontend. And I also gained experience dealing with partners and creating strategic plans during my internship at Telefónica. In the near future I want to study an MBA to have a broader vision of the business as well as to gain leadership skills.</p>
            <p>Spanish is my native language but I can also speak fluent English and basic French. I love languages and that is why during my stay in Finland I took the opportunity to study Finnish and Russian, although I can only have very basic conversations.</p>
            <p>I love technology and art, it is why I enjoy the frontend development. As hobbies, I like to walk, paint and play games.</p>
    	</div>
    </div>
</div>

<div id="scroll">
    <p id="scroll-text">Scroll down</p>
</div>
