<div id="content">
	<div id="info">
    	<h1 class="sign-purple">
    		San<span class="fast-flickerpurple">dra</span><br>
        	&nbsp;&nbsp;<span class="flickerpurple">García</span>-Siñeriz
    	</h1>
    	<div id="description">
        	<p>Data Systems Developer @ Full stack //<br>&nbsp;&nbsp;Telecommunications engineer </p>
            <!--<p id="more-data" *ngIf="!showmore"><button (click)="showMoreInformation()" class="mr">More</button></p>-->
    	</div>
        <!--<div id="data" *ngIf="showmore">
            <p>Hi! I'm Sandra. First of all, a bunch of thanks for visiting my page! :)</p>
            <p>I'm a Telecommunication Engineer and I am currently working at GMV as Mission Data Systems Developer. I have a little over 2 years of experience in software development, both backend and frontend. And I also gained experience dealing with partners and creating strategic plans during my internship at Telefónica. In the near future I want to study an MBA to have a broader vision of the business as well as to gain leadership skills.</p>
            <p>Spanish is my native language but I can also speak fluent English and basic French. I love languages and that is why during my stay in Finland I took the opportunity to study Finnish and Russian, although I can only have very basic conversations. :)</p>
            <p id="more-data-open" *ngIf="showmore"><button (click)="showMoreInformation()" class="mr">Close</button></p>
        </div>-->
    </div>
</div>

<div id="scroll">
    <p id="scroll-text">Scroll down</p>
</div>
