<div id="content">
	<div id="info">
        <h1 class="sign-blue">
            Get <span class="fast-flickerblue">In</span><br>
            &nbsp;&nbsp;<span class="flickerblue">To</span>uch
        </h1>
        <div id="data" class="center">
            You can find me anytime on:
            <p>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button (click)="mailMe()" class="ext"><span>via email client!</span></button></p>
            <p>LinkedIn:&nbsp;&nbsp;<button onclick="window.open('https://www.linkedin.com/in/sandragarcs')" target="_blank" class="ext"><span>@sandragarcs</span></button></p>
            <p>GitHub:&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="window.open('https://github.com/sandragarcsh?tab=repositories')" target="_blank" class="ext"><span>@sandragarcsh</span></button></p>
    	</div>
    </div>
</div>

<div id="scroll">
    <p id="scroll-text">Scroll up :)</p>
</div>
